.footer-main{
    background-color: #1E86C0;
    width: 100%;
    height: 40px;
}

.columnas{
   column-count: 3;
   column-width: 300px;
   background-color: #1E86C0;
   column-gap: 4em;
   padding: 2% 8%;
}

.pos1{
    margin: 20px;
    background-color: #1E86C0;
    color: white;
}

.pos2{
    text-align: center;    
}

.pos3{
    text-align: center;
}

.credits{
    background-color: #C53E3E;
    text-align: center;
    color: white;
}

.images-footer {
    object-fit: contain;
    height: 20vh;
}

.icons-social-media {
    cursor: pointer;
    fill: rgb(255, 255, 255);
    font-size: 48px;
    text-align: center;
    vertical-align: -0.125em;
    margin: 0.5px 5px;
}

@media screen and (max-width: 1210px) {
    .columnas {
        padding: 1%;
    }
}
@media screen and (max-width: 1045px) {
    .columnas {
        text-align: center;
        padding: 1% 30%;
    }
}
