@import './_mixinsLogin.scss';

#svg-top{
    @include estilos-svg(145px,123%,#1e86c0);
}
#svg-bottom{
    @include estilos-svg(218px,169%,#1e86c0);
}

.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.elementor-shape-bottom {
    bottom: -1px;
}
#contenedor  {
    background-color: white;
    padding-bottom: 40px;
}
.elementor-section.elementor-section-height-full {
    height: 100vh; 
}
.main-login {
    min-height: 100%;
    position: relative;
}

.form-login {
    width: 25%;
    background-color: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 37.5px 14px rgb(2 8 53 / 6%);
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    bottom: 25%;
    margin: auto;
}

.group-login {
    display: flex;
    flex-direction: column;
}

.group-login > label {
    padding: 18px 0;
    font-weight: bold;
    color: #333;
    text-shadow: none;
    font-size: 1rem;
}

.group-login > input, .group-login-wrapper > input, .group-login-wrapper > button, .group-login-footer > input {
    padding: 15px;
}

.group-login-wrapper > input, .group-login > input  {
    width: 90%;
    outline: none;
    border-radius: 3px;
    line-height: 1.5;
    border: 1px solid #cfcfe8;
    font-size: 1rem;
    color: #495057;
} 

.group-login-wrapper {
    position: relative;
}

.group-login-wrapper > button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border: none;
    color: red;
    line-height: 1.5;
    font-size: 1rem;
    cursor: pointer;
}

.group-login-footer > input {
    margin: 50px 0;
    outline: none;
    border-radius: 13px;
    border: 1px solid #cfcfe8;
    line-height: 1.5;
    font-size: 1rem;
    color: #fff;
    background-color: #744ffb;
    width: 50%;
    cursor: pointer;
}

.group-login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
