$color-background: #1E86C0;
$alineacion: center;
$separacion-letras: 1px;

a, button {
    font-size: 15px;
    line-height: 2;
}

.navBg{
    width: 100%;
    background-color: $color-background; 
}

.Logo{
    background-color: white;
    text-align: $alineacion;
}

.login{
    border-radius: 10px;
    background: #EA5356;
    letter-spacing: $separacion-letras;
    text-align: $alineacion;
    .button{
        background: #EA5356;
    }
}
.me-auto{
    background-color: $color-background;
    width: 80%;
    letter-spacing: $separacion-letras;
}
