.text-danger {
    color: red;
}
.titulo-form {
    text-align: center;
    font-weight: bold;
}
.hidden {
    opacity: 0;
    display: none;
}
.main-pass {
    min-height: 100%;
    position: relative;
}
.content-pass {
    padding-bottom: 40px;
}
