.text-danger {
    color: red;
}
.titulo-form {
    text-align: center;
    font-weight: bold;
}
.hidden {
    display: none;
}
.main-pass {
    min-height: 100%;
    position: relative;
}
.content-pass {
    padding-bottom: 40px;
}
.error-label {
    color: #bb2929;
}
.error-input {
    border: 3px solid #bb2929 !important;
}
