.titulo-estandar{
    text-align: right;
    color: #011254;
    font-size: 50px;
    font-weight: bold;
    margin: 1%;
}
.main-perfil {
    min-height: 100%;
    position: relative;
}
.content-perfil {
    padding-bottom: 40px;
}
