@import '../Login/mixinsLogin'; 
@import "/src/components/navegation/footer/mixins";

$posicion-text: center;
$color-text: gray;
$color-tittle: black;

.container-fluid {
    padding-bottom: 40px;
}
.titulo > div{
    width: 100%;
}
.titulo{
    background-color: #41A0D53D;
    border-radius: 30px;
    margin: 5px;
    text-align: center;
    .forma{
        display: flex;
        justify-content: center;
        @include estilos-svg(90px,100%,#fff);
        background-color: transparent;
    }
    .titulo-texto{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        h2{
            font-size: 2rem;
            color: #C53E3E;
            font-weight: bold;
           
            font-style: normal;
        }
    }
}
.sec-filtros{
    margin-left: 5px;
    margin-right: 5px;
    .filtros{
        .lista-filtros{
            vertical-align: middle;
            display: flex;
            margin-bottom: 0.5rem;
            .dropdown{
                display: flex;
                justify-content: center;
            }
            #boton-busqueda{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .item-filtro{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-weight: bold;
                background-color: #C53E3E;
                color: black;
                padding: 0.75rem 1.25rem;
                width: 100%;
                #btn-materias {
                    color: black;
                    background-color: transparent;
                    border-color: transparent;
                    border: none;
                    font-weight: bold;
                }
                #btn-materias:focus{
                    box-shadow: none;
                }
                .btn-busqueda{
                    cursor: pointer;
                    background-color: #1e86c0;
                    color: #fff;
                    width: max-content;
                    padding: 0.75rem 1.25rem;
                    border-radius: 13px;
                    border: none;
                }
                .btn-busqueda:hover{
                    background-color: #65B462;
                }      
                .btn-busqueda > svg {
                    filter: invert(100);
                    padding: 0 .4rem 0 0;
                }
                h2 {
                    color: #fff;
                    line-height: 1.5;
                    cursor: auto;
                    font-size: 2rem;
                }
            }
            .item-filtro:hover{
                color: #fff;
            }
            .item-filtro:first-child {
                border-bottom-left-radius: 0.25rem;
                border-top-left-radius: 0.25rem;
                border-right: 1px solid rgba(0, 0, 0, 0.2);
                width: 20%;
            }
            .item-filtro:last-child {
                border-bottom-right-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }
        }
        
    }
}
.sec-form {
    display: block;
}
.formulario{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    .form-contenido{
        background-color: rgba(65, 160, 213, 0.2392156863);
        border-radius: 30px;
        text-align: center;
        padding: 10px;
        width: 50%;
    }
    .form-group-contenido {
        margin-bottom: 1rem;
    }
    .form-label-contenido {
        display: inline-block;
        margin-bottom: .5rem;
        font-weight: 700;
    }
    .form-control-contenido {
        box-shadow: inset 0 0 0 transparent;
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .form-control-contenido:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
    }
    .form-control-contenido[type=file] {
        padding: 0;
        overflow: hidden;
        cursor: pointer;
    }
    .form-control-contenido::file-selector-button {
        height: 100%;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;
        border: none;
        border-right: 1px solid #ced4da;
    }
    .form-control-contenido::file-selector-button:hover {
        background-color: rgba(221, 224, 227, 0.8);
        outline: none;
    }
    button {
        box-shadow: none;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
        cursor: pointer;
    }
}
@media only screen and (max-width: 992px){
    .list-group-horizontal-lg>.list-group-item+.list-group-item {
        border: none;
    }
    
    .sec-filtros{
        .filtros{
            .lista-filtros{
                display: block;
                .dropdown{
                    justify-content: left;
                }
                .item-filtro:first-child {
                    width: 100%;
                }
            }
        }
    }
}

.contenido-prueba{
    @include formacion_columnas(#2987BA);
    margin: 2%;
}

.carrusel-cards{
    background-color: #2987BA;
}

.card-change{
    margin: 10px;
}

.title-card{
    text-align: $posicion-text;
    $color-text: $color-tittle;
    
}

.subtittle-card{
    text-align: $posicion-text;
    $color-text: $color-text;
}

.stars-card{
    text-align: $posicion-text;
    $color-text: $color-text;
}

.content-card{
    text-align: $posicion-text;
    $color-text: $color-text;
}

.titulo-Modal{
    margin-top: 10px;
    text-align: $posicion-text;
}

.Modal-Title{
    background-color: #1E86C0;
}

.btn-Descarga{
    position: absolute;
    top: -50px;
    right: 16px;
}
.contenido-separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.container-contenido {
    padding-bottom: 1rem;
    margin: 0 auto;
}
.contenido-content {
    padding: 0 8.5rem;
}
.row-content-user {
    display: flex;
    flex-wrap: wrap;
    // margin-top: calc(-1 * 0);
    // margin-right: calc(-.5 * 1.5rem);
    // margin-left: calc(-.5 * 1.5rem);
}
.row-content-user > * {
    // max-width: 100%;
    margin-top: 0;
    // padding-right: calc(1.5rem * .5);
    // padding-left: calc(1.5rem * .5);
    flex: 0 0 auto;
    width: 33.3333333333%;
}
.col-content-user {
    position: relative;
    // width: 100%;
    // padding-right: 7.5px;
    // padding-left: 7.5px;
    max-width: 100%;
    flex: 1 0;
}
.card-content-user {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}
.card-body-content-user {
    min-height: 1px;
    flex: 1 1 auto;
    padding: 1rem;
}
.card-button-content-user {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem .75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}
.card-button-primary-content-user {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.card-text-content-user {
    text-align: center;
    margin-bottom: 1rem;
}
