.row-inicio{
    column-count: 2;
    column-width: 300px;
    background-color: white;
    column-gap: 4em;
}

.title{
    color: #B33030;
}

.text-lore-happ{
    text-align: left;
    margin: 10px;
    font-size: x-large;
}

.title-h2{
    color: white;
    text-align: center;
    margin: 5px;
    text-shadow: 1px 1px 2px black;
}

.hr-line-white{
    color: white;
}

.columna-inicio{
    column-count: 2;
    column-width: 300px;
    background-color: white;
    column-gap: 4em;
    margin: 2% 9%;
    padding: 2% 0% 1% 0%;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
}

.columna-inicio-texto{
    text-align: left;
    min-width: 100px;
    margin:0;
    margin-top: 3%;
    margin-left: 18%;
    text-align: justify;
}

.columna-inicio-video{
    text-align: left;
    min-width: 100px;
    margin: 3%;
    padding: 0 2%;
    height: 300px;
}

.title-dest{
    margin-left: 18%;
    color: #B33030;
    text-align: justify;
}

.main-carousel{
    margin: 2% 9%;
    padding: 0.1px 0;
    background-color: white;
    text-align: center;
    border-radius: 20px;
 }
 .br-carousel {
    padding-bottom: 40px;
 }
