.wrapper-content-admin {
  background-color: #f4f6f9;
  height: 100%;
  transition: margin-left .3s ease-in-out;
  margin-left: 250px;
  min-height: 554px;
}
.title-content-admin {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
}
.container-content-admin {
  padding: 0 .75rem;
}
.title-container-admin {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: calc(1.3rem + .6vw);
}
.row-content-admin {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-.5 * 1.5rem);
  margin-left: calc(-.5 * 1.5rem);
}
.row-content-admin > * {
  max-width: 100%;
  padding-right: calc(1.5rem * .5);
  padding-left: calc(1.5rem * .5);
  margin-top: 0;
}
.col-content-admin {
  position: relative;
  flex: 0 0 auto;
  width: 97.8%;
  max-width: 100%;
}
.small-box-content-admin {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
  display: block;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
  background-color: rgba(220,53,69, 1);
  width: 40%;
  height: 120px;
}
.small-box-content-admin > .inner-content-admin {
  padding: 10px;
  z-index: 5;
}
.small-box-content-admin > .icon-content-admin > svg {
  z-index: 0;
  color: rgba(0,0,0,.15);
}
.pie-graph-content-admin {
  position: absolute;
  right: 15px;
  font-size: 70px;
  top: 10px;
  transition: transform .3s linear,-webkit-transform .3s linear;
}
.header-content-admin {
  padding: 15px .5rem;
}
.marginBottom {
  margin-bottom: .5rem;
}
.col-content-admin > h1 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.8rem;
  margin: 0;
}
.wrapper-content-admin > .wrapper-container-content-admin {
  padding: 0 .5rem;
}
.card-content-admin {
  box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.card-header-content-admin {
  position: relative;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header-content-admin:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-title-content-admin {
  line-height: 1.2;
  float: left;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.5rem;
}
.card-body-content-admin {
  min-height: 1px;
  flex: 1 1 auto;
  height: 300px;
}
.table-responsive-content-admin {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.table-content-admin {
  caption-side: bottom;
  border-collapse: collapse;
  background-color: transparent;
  width: 100%;
  vertical-align: top;
  border-color: #dee2e6;
  white-space: nowrap;
  margin-bottom: 0;
}
.table-content-admin > thead {
  vertical-align: bottom;
}
.table-content-admin > tbody {
  vertical-align: inherit;
}
.table-content-admin > :not(:first-child) {
  border-top: 2px solid currentColor;
}
.table-content-admin > thead > tr > th {
  text-align: -webkit-match-parent;
  border-top: 1px solid #dee2e6;
  padding: 0.5rem 0.5rem;
}
.table-content-admin > thead > tr {
  background-color: #fff;
  border-bottom: 0;
  box-shadow: inset 0 1px 0 #dee2e6, inset 0 -1px 0 #dee2e6;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.table-content-admin > thead> tr > th:first-of-type {
  padding-left: 1.5rem;
}
