.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2050;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show {
  display: block;
}

.popup-backdrop.show {
  opacity: .5;
}

.popup.show {
  opacity: 1;
}

.popup-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
  max-width: 500px;
  margin: 1.75rem auto;
}

.popup-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .5);
  outline: 0;
  pointer-events: auto;
}

.popup-header {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
}

.popup-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 500;
}

.popup-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
}

.popup-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: .75rem;
}

.popup-footer > * {
  margin: .25rem;
}

.btn-accept, .btn-cancel {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-accept {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: none;
}

.btn-cancel {
  color: #fff;
  background-color: #E75474;
  border-color: #E75474;
  box-shadow: none;
}
