@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  /* font-size: 15px; */
  /* line-height: 2; */
}

.notAvalaible {
    border: none;
    border-radius: 7px;
    background-color: #D6D1CE;
    text-align: center;
    color: #555;
    padding: 20px 30px;
    font-weight: bold;
}
